
@font-face {
    font-family: Aloja;
    src: url("/font/aloja-light.otf") format("opentype");
}

@font-face {
    font-family: Aloja;
    font-weight: bold;
    src: url("/font/aloja-light.otf") format("opentype");
}

html, body{height:100%;} 
body {
    background-color: #e6f5f7;
    font-family: Aloja;
}
h1,h2,h3,h4,h5,h6 {
    color:#f4f0d9
}
.modal-footer {
    border: none;
}
.container {
    background-color: #eee;
    background-repeat: no-repeat;
    background-image: url(/images/screen.jpg);
    background-size: cover;
}
.main_block {
    min-height: 270px;
    min-width: 270px;
    text-align: center;
    border-radius: 55px;
    padding: 10px;
    margin: 0 auto;
    background-color: #638c80;
}

.main-cella { padding: 10px; }

.block-title p {
    line-height: 250px;
    color: #f4f0d9;
    font-size: larger;
}

.last_block { width: 100%; }

.informiamoci-yt-logo {
    max-height: 100px;
    float: right;
}
.informiamoci-image {
    max-height: 400px;
}
.container-test p {
    color: #f4f0d9;
}
.container-align-center {
    text-align: center;
}
.container-test {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.main-modal,.modal-dialog,.modal-content,.modal-header {
    min-width: 75%;
    background-color: #a0ab90;
    border: none;
}
.modal-div-image {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}
.modal-div-image img {
    max-width: 100%;
    max-height: 100%;
}

.modal-dialog {
    border-radius: 10px;
}

.spacer {
    margin-top: 15px;
}
.block_alleniamoci {
    margin-left: 0px;
}
.alleniamoci-icon {
    max-height: 175px;
    max-width: 175px;
    margin: 0 15px 5px 5px;
}
.alleniamoci-image {
    max-height: 100%;
    max-width: 100%;
    margin: 0 5px 5px 5px;
}
.container-image {
    width: auto;
    height: auto;
}

.block_percorso {
    height: 100%;
    width: 100%;
}
.percorso-image{
   width: 100%;
}
.percorsi { 
    overflow:hidden;
}
.percorso-icon { 
    max-width: 16px;
    float: left;
}
.percorso-elenco {
    float: left;
    margin-left: 5px;
    font-size: 16px;
}
@media screen and (max-width: 767px) {
    .last_block, .main_block {
        width: 80%;
    }
    .main_block {
        display: table;
    }
    .alleniamoci-icon {
        max-height: 100px;
        max-width: 100px;
        margin: 0 5px 5px 5px;
    }
    .informiamoci-yt-logo {
        float: none;
    }
}