//- CSS
link(rel="stylesheet", href="/css/main/bootstrap-reboot.min.css")
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
link(rel='stylesheet', href='/css/style.min.css')
link(rel='stylesheet', href='/css/navbar.min.css')

link(rel='stylesheet', href='/css/ricca.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/style-mobile.css')

link(rel='stylesheet', href='/css/admin/admin.css')
