.sidenav
  a(class=(section === "home" ? "selected" : ""), href='/admin/') Home
  a(class=(section === "timeline" ? "selected" : ""), href='/admin/timeline') Programmazione
  a(class=(section === "libri" ? "selected" : ""), href='/admin/libri') Libri
  a(class=(section === "autori" ? "selected" : ""), href='/admin/autori') Autori
  a(class=(section === "categorie" ? "selected" : ""), href='/admin/categorie') Categorie