// jQuery
script(src='js/jquery-2.1.0.min.js')
// Bootstrap
script(src='js/popper.js')
script(src='js/bootstrap.min.js')
// Plugins
script(src='js/owl-carousel.js')
script(src='js/scrollreveal.min.js')
script(src='js/waypoints.min.js')
script(src='js/jquery.counterup.min.js')
script(src='js/imgfix.min.js')
// Global Init
script(src='js/custom.js')