// ***** Footer Start *****
footer
    .container
        .row
            .col-lg-7.col-md-12.col-sm-12
                p.copyright
                | Copyright © 2020 Rifuging
            .col-lg-5.col-md-12.col-sm-12
                ul.social
                    li
                        a(href='https://www.facebook.com/rifuging', target='_blank')
                            i.fa.fa-facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    //- li
                    //-     a(href='#')
                    //-         i.fa.fa-linkedin
                    li
                        a(href='https://www.instagram.com/rifuging/', target='_blank')
                            i.fa.fa-instagram
                    //- li
                    //-     a(href='#')
                    //-         i.fa.fa-dribbble
