// ***** Header Area Start *****
header.header-area.header-sticky
    .container
        .row
            .col-12
                nav.main-nav
                    // ***** Logo Start *****
                    a.logo(href='#') Rifuging
                    // ***** Logo End *****
                    // ***** Menu Start *****
                    ul.nav
                        li.scroll-to-section
                            a.active(href='#welcome') Home
                        li.scroll-to-section
                            a(href='#about') presentazione
                        li.scroll-to-section
                            a(href='#services') Cosa potrai fare
                        //- li.submenu
                        //-     a(href='javascript:;') Drop Down
                        //-     ul
                        //-         li
                        //-             a(href='') About Us
                        //-         li
                        //-             a(href='') Features
                        //-         li
                        //-             a(href='') FAQ's
                        //-         li
                        //-             a(href='') Blog
                        li.scroll-to-section
                            a(href='#contact-us') Supportaci
                    a.menu-trigger
                        span Menu
                    // ***** Menu End *****
// ***** Header Area End *****