.main-cella(id="#{data_blocco['modal']}")
    - var last_block = ''
    if data_blocco['modal'] == 'alleniamoci'
        - last_block = 'last_block'

    .main_block.hvr-grow(class="#{last_block}") 
        .block-title
            span
                p #{data_blocco['titolo']}

