#modal-informiamoci.modal.fade(tabindex='-1' role='dialog' aria-labelledby='informiamoci-label' aria-hidden='true')
  .modal-dialog.main-modal(role='document')
    .modal-content
      .modal-header
        h2#moda_informiamoci_label.modal-title INFORMIAMOCI
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .row.block_alleniamoci
            .col-sm-6
                .spacer
                .container-image.container-align-center
                  img.informiamoci-image(src='/images/flier.png')
            
            .col-sm-6
              .spacer
              .row
                .col-sm-4
                  .container-image.container-align-center
                    img.informiamoci-yt-logo(src='/images/yt.webp')
                .col-sm-8
                  .spacer
                  .container-test
                    p Gli effetti psicologici positivi dell'attivita' fisica
                .spacer

      .modal-footer
