#modal-alleniamoci.modal.fade(tabindex='-1' role='dialog' aria-labelledby='alleniamoci-label' aria-hidden='true')
  .modal-dialog.main-modal(role='document')
    .modal-content
      .modal-header
        h2#modal_alleniamoci_label.modal-title ALLENIAMOCI
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .row.block_alleniamoci
            .col-sm-6
                .spacer
                .row
                    h5 Crea gruppo di allenamento
                .spacer
                .row
                    img.alleniamoci-icon(src='/images/fb-icon.png')
                .row
                    img.alleniamoci-icon(src='/images/contact-icon.png')
            
            .col-sm-6
                .spacer
                .row
                    .col-sm-3
                    .col-sm-9
                        .row
                            h5 Live
                .spacer
                .row
                    .col-sm-12
                        .row
                            .col-sm-3
                            .col-sm-9
                                .container-image
                                    img.alleniamoci-image(src='/images/allenamento_1.png')

                                .spacer
                        .row
                            .col-sm-3
                            .col-sm-9
                                .container-image
                                    img.alleniamoci-image(src='/images/allenamento_2.png')

                                .spacer
                        .row
                            .col-sm-3
                            .col-sm-9
                                .container-image
                                    img.alleniamoci-image(src='/images/allenamento_3.png')

                                .spacer
                    
      
      .modal-footer