#modal-routine.modal.fade(tabindex='-1' role='dialog' aria-labelledby='informiamoci-label' aria-hidden='true')
  .modal-dialog.main-modal(role='document')
    .modal-content
      .modal-header
        h2#moda_routine_label.modal-title CREA LA TUA ROUTINE
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .block_alleniamoci
            .row
                .col-sm-6
                .col-sm-6
      .modal-footer