extends ../main/layout

block add-css

block add-js
    script(src='/js/default.js')

block footer
    //- include ../main/footer.jade


block content

    .container
        .row
            p Start here