extends ../main/layout

block add-css

block add-js
    script(src='js/landing.js')

block nav

block loader 
    // ***** Preloader Start *****
    #preloader
        .jumper
            div
            div
            div
    // ***** Preloader End *****


block content

    .container
        for riga in block_titles
            if Object.keys(riga).length > 1
                .row
                    .col-sm-3
                    for data_blocco in riga
                        .col-sm-3
                            include component/home_block.jade
                    .col-sm-3
                .spacer
            else
                .row
                    .col-sm-3
                    for data_blocco in riga
                        .col-sm-6
                            include component/home_block.jade
                    .col-sm-3
                .spacer

    include component/modal_informiamoci.jade