extends ../main/layout

block add-css

block add-js
    script(src='js/landing.js')

block nav

block loader 
    // ***** Preloader Start *****
    #preloader
        .jumper
            div
            div
            div
    // ***** Preloader End *****


block content
    .container
        for riga, indice_riga in block_titles

            if indice_riga < 2
                .row
                    .col-sm-3
                    for titolo, indice_colonna in riga
                        .col-sm-3
                            include component/home_block.jade
                    .col-sm-3
                .spacer
            else
                .row
                    .col-sm-3
                    for titolo, indice_colonna in riga
                        .col-sm-6
                            include component/home_block.jade
                    .col-sm-3
                .spacer

            //-     .row
    //-         form#stato-sito-form
    //-             for parametro in parametri_sito
    //-                 .col-sm 
    //-                     if (parametro.valore == '1')
    //-                         h5 #{parametro.chiave}
    //-                         input(type='checkbox', data-toggle='toggle', checked) 
    //-                     else
    //-                         h5 #{parametro.chiave}
    //-                         input(type='checkbox', data-toggle='toggle')